Source: emboss
Section: science
Priority: optional
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
DM-Upload-Allowed: yes
Uploaders: Charles Plessy <plessy@debian.org>,
 Nelson A. de Oliveira <naoliv@debian.org>,
 Andreas Tille <tille@debian.org>
Build-Depends: debhelper (>= 9), quilt, libx11-dev, x11proto-core-dev,
 libgdchart-gd2-xpm-dev, zlib1g-dev, libpng-dev, libexpat1-dev, libhpdf-dev,
 libmysqlclient-dev, libpq-dev, antiword, sharutils, autotools-dev,
 tcsh | csh | c-shell, dh-autoreconf,
# Needed until the following is solved: https://sourceforge.net/tracker/?func=detail&aid=3033326&group_id=93650&atid=605031 
 default-jdk
#Build-Depends-Indep: default-jdk
Vcs-Browser: http://git.debian.org/?p=debian-med/emboss.git
Vcs-Git: git://git.debian.org/debian-med/emboss.git
Standards-Version: 3.9.3
Homepage: http://emboss.sourceforge.net

Package: emboss
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, emboss-lib (= ${binary:Version}), emboss-data (= ${source:Version})
Recommends: primer3, dialign
Suggests: emboss-doc, emboss-test, embassy, clustalw
Description: european molecular biology open software suite
 EMBOSS is a free Open Source software analysis package specially developed for
 the needs of the molecular biology (e.g. EMBnet) user community. The software
 automatically copes with data in a variety of formats and even allows
 transparent retrieval of sequence data from the web. Also, as extensive
 libraries are provided with the package, it is a platform to allow other
 scientists to develop and release software in true open source spirit. EMBOSS
 also integrates a range of currently available packages and tools for sequence
 analysis into a seamless whole. EMBOSS breaks the historical trend towards
 commercial software packages.

Package: emboss-data
Architecture: all
Depends: ${misc:Depends}
Description: data files for the EMBOSS package
 This package includes data files needed by EMBOSS, the European Molecular
 Biology Open Software Suite.

Package: emboss-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: pdf-viewer | postscript-viewer
Description: documentation for EMBOSS
 This package includes non-essential user documentation for EMBOSS, the
 European Molecular Biology Open Software Suite.

Package: emboss-test
Section: misc
Architecture: all
Depends: ${misc:Depends}
Recommends: tcsh | csh | c-shell
Suggests: valgrind
Description: test files for the EMBOSS package
 This package includes test files for EMBOSS, the European Molecular Biology
 Open Software Suite.
 .
 It is a good idea to use the data from this package for your bug reports when
 possible.

Package: emboss-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libajax5, libajax6, libajax5-dev, libajax6-dev, libnucleus5, libnucleus6, libnucleus5-dev, libnucleus6-dev
Replaces: libajax5, libajax6, libajax5-dev, libajax6-dev, libnucleus5, libnucleus6, libnucleus5-dev, libnucleus6-dev
Breaks: embassy-domainatrix (<= 0.1.0+20100721-3), embassy-domalign (<= 0.1.0+20100721-3),
 embassy-domsearch (<= 0.1.0++20100721-3), embassy-phylip (<= 3.69+20100721-3)
Description: EMBOSS Libraries
 This package contains the core libraries of the European Molecular Biology
 Open Software Suite, EMBOSS.
 .
 AJAX covers standard data structures, including strings, sequences, file
 handles, queues, hashes, heaps, lists, dictionaries, trees and dynamic
 arrays. It also covers standard algorithms including comparisons, pattern
 matching, sorting, and iterators. AJAX will also provide a set of high level
 graphics functions suited to the needs of sequence analysis applications.
 .
 The NUCLEUS library provides higher-level functions specific to molecular
 sequence analysis, including sequence comparisons, translation, codon usage
 and annotation.
 .
 It also contains a eplplot, an EMBOSS, a fork of the plplot library.
 .
 In Debian, these libraries are to be considered private.

Package: jemboss
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, emboss, default-jre, tcsh | csh | c-shell
Description: graphical user interface to EMBOSS
 Jemboss is a Graphical User Interface (GUI) to EMBOSS, the European Molecular
 Biology Open Software Suite. It is part of the EMBOSS distribution.
