Source: emboss
Section: science
Priority: optional
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
DM-Upload-Allowed: yes
Uploaders: Charles Plessy <plessy@debian.org>, Nelson A. de Oliveira <naoliv@debian.org>
Build-Depends: debhelper (>= 7), quilt, libx11-dev, x11proto-core-dev, libgdchart-gd2-xpm-dev, zlib1g-dev, libpng12-dev, libpcre3-dev, libexpat1-dev, antiword, sharutils, autotools-dev, tcsh | csh | c-shell
Build-Depends-Indep: openjdk-6-jdk
Vcs-Browser: http://git.debian.org/?p=debian-med/emboss.git
Vcs-Git: git://git.debian.org/git/debian-med/emboss.git
Standards-Version: 3.8.4
Homepage: http://emboss.sourceforge.net

Package: emboss
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, emboss-data (= ${source:Version})
Recommends: primer3, dialign
Suggests: emboss-doc, emboss-test, embassy, clustalw
Description: the european molecular biology open software suite
 EMBOSS is a free Open Source software analysis package specially developed for
 the needs of the molecular biology (e.g. EMBnet) user community. The software
 automatically copes with data in a variety of formats and even allows
 transparent retrieval of sequence data from the web. Also, as extensive
 libraries are provided with the package, it is a platform to allow other
 scientists to develop and release software in true open source spirit. EMBOSS
 also integrates a range of currently available packages and tools for sequence
 analysis into a seamless whole. EMBOSS breaks the historical trend towards
 commercial software packages.

Package: emboss-data
Architecture: all
Depends: ${misc:Depends}
Description: data files for the EMBOSS package
 This package includes data files needed by EMBOSS, the European Molecular
 Biology Open Software Suite.

Package: emboss-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: pdf-viewer | postscript-viewer
Description: documentation for EMBOSS
 This package includes non-essential user documentation for EMBOSS, the
 European Molecular Biology Open Software Suite.

Package: emboss-test
Section: misc
Architecture: all
Depends: ${misc:Depends}
Recommends: tcsh | csh | c-shell
Suggests: valgrind
Description: test files for the EMBOSS package
 This package includes test files for EMBOSS, the European Molecular Biology
 Open Software Suite.
 .
 It is a good idea to use the data from this package for your bug reports when
 possible.

Package: emboss-lib
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EMBOSS Libraries
 This package is being emptied. For the moment it contains a eplplot, an EMBOSS
 fork of the plplot library.

Package: jemboss
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openjdk-6-jre, tcsh | csh | c-shell
Description: graphical user interface to EMBOSS
 Jemboss is a Graphical User Interface (GUI) to EMBOSS, the European Molecular
 Biology Open Software Suite. It is part of the EMBOSS distribution.

Package: libajax6
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EMBOSS library for commands
 This package contains a core library of the European Molecular Biology Open
 Software Suite, EMBOSS.
 .
 AJAX covers standard data structures, including strings, sequences, file
 handles, queues, hashes, heaps, lists, dictionaries, trees and dynamic
 arrays. It also covers standard algorithms including comparisons, pattern
 matching, sorting, and iterators. AJAX will also provide a set of high level
 graphics functions suited to the needs of sequence analysis applications.
 .
 This package contains the runtime library files needed to run software
 using libajax.

Package: libajax6-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libajax6 (= ${binary:Version})
Conflicts: libajax5-dev
Replaces: libajax5-dev
Description: development files for libajax
 This package contains the header and development files needed to build
 programs and packages using libajax.

Package: libnucleus6
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EMBOSS library for molecular sequence analysis
 This package contains a core library of the European Molecular Biology Open
 Software Suite, EMBOSS.
 .
 The NUCLEUS library provides higher-level functions specific to molecular
 sequence analysis, including sequence comparisons, translation, codon usage
 and annotation.
 .
 This package contains the runtime library files needed to run software
 using libnucleus.

Package: libnucleus6-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnucleus6 (= ${binary:Version})
Conflicts: libnucleus5-dev
Replaces: libnucleus5-dev
Description: development files for libnucleus
 This package contains the header and development files needed to build
 programs and packages using libnucleus.
