[Desktop Entry]
Version=1.0
Terminal=false
Icon=/usr/share/EMBOSS/jemboss/images/jemboss_icon.png
Exec=jemboss
Name=Jemboss
GenericName=GUI for EMBOSS
Comment=Graphical user interface for the European Molecular Biology Open Software Suite.
Type=Application
Categories=Biology;Science;Education;
