#!/usr/bin/make -f

#export DH_VERBOSE=1

VERSION := $(shell dpkg-parsechangelog | grep Ver | cut -d' ' -f2 | cut -d- -f1)
RENAMED := cons pscan

EMBOSS-TMP  = $(CURDIR)/debian/emboss_tmp
EMBOSS      = $(CURDIR)/debian/emboss
EMBOSS-TEST = $(CURDIR)/debian/emboss-test
AJAX        = $(CURDIR)/debian/libajax6
NUCLEUS     = $(CURDIR)/debian/libnucleus6

CONFFLAGS   = --prefix=/usr
CONFFLAGS   += --bindir=/usr/lib/emboss
CONFFLAGS   += --enable-systemlibs
CONFFLAGS   += --with-java=/usr/lib/jvm/default-java/include
CONFFLAGS   += --with-javaos=/usr/lib/jvm/default-java/include/linux


DEB_LDFLAGS += -lexpat
DEB_LDFLAGS += $(shell mysql_config --libs)
DEB_LDFLAGS += -lpq
#DEB_LDFLAGS += $(shell pg_config  | grep LIBS | cut -f2 -d=)

config.status:
	dh_testdir
	ln -sf /usr/share/misc/config.sub .
	ln -sf /usr/share/misc/config.guess .
	./configure $(CONFFLAGS)

include /usr/share/quilt/quilt.make

build: config.status patch debian/copyright build-stamp
build-stamp:
	dh_testdir
	$(MAKE) AJAX_FIXED_ROOT=\\\"/usr/share/EMBOSS\\\" LDFLAGS="$(DEB_LDFLAGS)"
	touch build-stamp

# In order to use this rule you must install libemboss-acd-perl, xsltproc, docbook-xml and docbook-xsl
manpages: debian/manpages/success
debian/manpages/success:
	debian/build-manpages.sh
	echo "The manpages have been sucessfully built" > debian/manpages/success

debian/copyright:
	cat debian/copyright.introduction > $@
	cat "AUTHORS" >> $@
	cat "THANKS" >> $@

clean: unpatch
	dh_testdir
	dh_testroot
	[ ! -d debian/testbackup ] || ( $(RM) --recursive test ; mv debian/testbackup test )
	[ ! -f Makefile ] || $(MAKE) distclean
	find jemboss/ -type f -name "*.class" | xargs -r rm -f
	rm --force --recursive debian/emboss_tmp
	$(RM) config.status install-stamp
	dh_clean debian/copyright config.sub config.guess test-stamp

install: build install-stamp
install-stamp:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	### Binaries and data go to a temporary dir before being moved to their own package ###
	$(MAKE) -C emboss install DESTDIR=$(EMBOSS-TMP)

	# Make symbolic links from /usr/bin to /usr/lib/emboss
	cd $(EMBOSS)/usr/bin/ ; \
		for i in $(EMBOSS-TMP)/usr/lib/emboss/* ; \
		do ln -sf ../lib/emboss/`basename $$i` . ; \
		done

	### Renaming conflicting binaries (see also in binary-arch) ###
	for i in $(RENAMED) ; \
		do mv $(EMBOSS)/usr/bin/$$i $(EMBOSS)/usr/bin/em_$$i ; \
		done

	### Ajax library: lib and libdevel packages. ###
	$(MAKE) -C ajax install DESTDIR=$(AJAX)
#	rm $(AJAX)/usr/include/pcre*	# Not very elegant way to solve the conflict with libpcre-dev
	mv $(AJAX)/usr/include 		$(AJAX)-dev/usr/include/ajax
	mv $(AJAX)/usr/lib/*a $(AJAX)/usr/lib/*so 	$(AJAX)-dev/usr/lib
	# Libtool .la libraries are not wanted anymore in Debian, see http://lists.debian.org/debian-devel/2009/08/msg00783.html
	find $(AJAX)-dev/usr/lib -name '*.la' -exec rm {} \;

	### Nuleus library: lib and libdevel packages. ###
	$(MAKE) -C nucleus install DESTDIR=$(NUCLEUS)
	mv $(NUCLEUS)/usr/include 	$(NUCLEUS)-dev/usr/include/nucleus
	mv $(NUCLEUS)/usr/lib/*a $(NUCLEUS)/usr/lib/*so	$(NUCLEUS)-dev/usr/lib
	# Libtool .la libraries are not wanted anymore in Debian, see http://lists.debian.org/debian-devel/2009/08/msg00783.html
	find $(NUCLEUS)-dev/usr/lib -name '*.la' -exec rm {} \;

	### eplplot goes in emboss-lib, but lets'hope building on plplot some day. ###
	$(MAKE) -C plplot install DESTDIR=$(CURDIR)/debian/emboss-lib

	### Documentation goes in emboss-doc. ###
	$(MAKE) -C doc install DESTDIR=$(CURDIR)/debian/emboss-doc
	antiword $(CURDIR)/debian/emboss-doc/usr/share/EMBOSS/doc/manuals/domainatrix.doc > $(CURDIR)/debian/emboss-doc/usr/share/EMBOSS/doc/manuals/domainatrix.txt
	# Remove this file when the relicenced file becomes part of the upstream tarball.
	uudecode -o $(CURDIR)/debian/emboss-doc/usr/share/EMBOSS/doc/manuals/EMBOSS_qg.pdf $(CURDIR)/debian/EMBOSS_qg_new.pdf.uu

	$(MAKE) -C jemboss install DESTDIR=$(CURDIR)/debian/jemboss bindir=/usr/bin
	# dangling LICEN[CS]E FILE
	rm $(CURDIR)/debian/jemboss/usr/share/EMBOSS/jemboss/LICENSE

	### Installation of the test suite
	cp -a test $(CURDIR)/debian/emboss-test/usr/share/EMBOSS/
	sed -i "/SET emboss_tempdata/cSET emboss_tempdata /usr/share/EMBOSS/test" $(CURDIR)/debian/emboss-test/usr/share/EMBOSS/test/.embossrc
	sed -i "/SET emboss_qadata/cSET emboss_qadata /usr/share/EMBOSS/test" $(CURDIR)/debian/emboss-test/usr/share/EMBOSS/test/.embossrc
	mv $(CURDIR)/debian/emboss-test/usr/share/EMBOSS/test/.embossrc $(CURDIR)/debian/emboss-test/etc/emboss/embossrc.d/emboss-test

	dh_makeshlibs	# Should it be invoked now ?

	touch install-stamp

test: build test-stamp
test-stamp:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	$(RM) test-stamp
	[ -d debian/testbackup ] || cp -a test debian/testbackup
	sed -i "/SET emboss_tempdata/cSET emboss_tempdata $(CURDIR)/test" test/.embossrc
	sed -i "/SET emboss_qadata/cSET emboss_qadata $(CURDIR)/test" test/.embossrc
	echo "SET emboss_acdroot $(CURDIR)/emboss/acd" >> test/.embossrc
	echo "SET emboss_data $(CURDIR)/emboss/data" >> test/.embossrc
	echo "SET emboss_docroot $(CURDIR)/doc" >> test/.embossrc
	cd test/qa && EMBOSSRC=$(CURDIR)/test PATH=$(CURDIR)/emboss:$$PATH EMBOSS_ROOT=../../../ ./qatest.csh
	touch test-stamp
endif

binary-indep: build install
	dh binary-indep

binary-arch: build install test
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a ChangeLog
	dh_installdocs -a
	dh_lintian -a
#	dh_installmenu -a
#	dh_desktop -a
#	dh_installmime -a
	dh_install -a
	
	# Install the manpages and provide a symlink for the renamed binaries.
	dh_installman -a -p emboss
	for i in $(RENAMED) ; \
		do dh_link usr/share/man/man1/$$i.1e.gz usr/share/man/man1/em_$$i.1e.gz ; \
		done
	
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a -- -Z bzip2

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
